<footer class="footer">
    {{- if site.Copyright }}
    <span>{{ site.Copyright | markdownify }}</span>
    {{- else }}
    <span>&copy; {{ now.Year }} <a href="{{ "" | absLangURL }}">{{ site.Title }}</a></span>
    {{- end }}
    <span>
        | <a href="/legals/privacy-policy" rel="noopener noreferrer">Privacy Policy</a>
        | <a href="/legals/terms-of-use" rel="noopener noreferrer">Terms of Use</a>
        | <a href="/pages/contact-us" rel="noopener noreferrer">Contact Us</a>
    </span>
</footer>
